<footer class="footer">
  <small>
    Hi, I'm Nolan, and I made this app following the <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>.<br>
    If you'd like to pair on a project, find me on <a href="http://www.twitter.com/loudmouse312">Twitter</a>.<br>
    Find my other code on <a href="http://www.github.com/loudmouse">GitHub</a>.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>
